@tailwind base;
@tailwind components;
@tailwind utilities;

.label {
  @apply text-gray-200 text-sm font-medium;
}


.input {
  @apply w-full mb-3 px-3 py-2 rounded-lg bg-slate-700 text-white placeholder-gray-400 outline-none focus:ring-2 focus:ring-blue-500;
}

.input::placeholder {
  @apply text-gray-500;
}

.atm-input {
  @apply w-full px-4 py-3 mt-2 rounded-lg
  bg-[#2a3443] text-white placeholder-gray-400
  border border-gray-600
  focus:outline-none focus:ring-2 focus:ring-blue-500;
}

